# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

config/emr.pem

# Pytest cache
.pytest_cache/

# Virtual environment
.venv

# vcode config
.vscode

output_parquet

etl.log
